@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    padding: 1rem;
    background-color: v.$rosa;
    p {
        text-align: center;
        color: v.$blanco;
        margin: 0;
    }
}